.chat-side
  .side-header
    %p.side-header__use-name<
      = current_user.name
    %ul.user-menu
      %li.user-menu__new-group
        = link_to new_group_path do
          =fa_icon "edit", class: 'icon-color'
      %li.user-menu__edit-user<
        = link_to edit_user_registration_path(current_user) do
          =fa_icon "cog", class: 'icon-color'
          
  .groups
    - current_user.groups.each do |group|
      =link_to group_messages_path(group) ,class: 'group' do
        .group__group-name<
          = group.name
        .group__latest-message<
          = group.show_last_message